eureka:
  server:
    enable-self-preservation: true
    renewal-percent-threshold: 0.85
    eviction-interval-timer-in-ms: 10000
    wait-time-in-ms-when-sync-empty: 5000

logging:
  level:
    root: INFO
    org.springframework.security: WARN